<h1>Battle#show</h1>
<p>Battle id: <%= @battle.id %></p>

<div class="users">
  <b>Battles users:</b>
  <ul>
    <% @battles_users.each do |battle_user| %>
      <li><%= "User id: #{battle_user.id}" %></li>
    <% end %>
  </ul>
</div>