<h1>Battle#show</h1>
<p>Battle id: <%= @battle.id %></p>

<div class="users">
  <b>Battles users:</b>
  <ul>
    <% @battle.tracks.each do |battle_track| %>
      <li><%= " #{User.find_by_id( battle_track.user_id ).soundcloud_username} - #{battle_track.title}" %></li>
    <% end %>
  </ul>
</div>

<div class=" <%= "hidden" if @hide_join_button %>"">
<%= link_to "Join this battle", "/track/new/#{@battle.id}"%>
</div>